body, html {
    height: 100%;
    margin: 0;
    overflow: auto;
}

.navbar{

	background-color: rgba(0,0,0,.5)

}


.mainImg{
	background-image:url("../images/la_nighttime.jpg");
	opacity: 0.8;
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe{
	/*height: 150px;*/
	height: 50%;
	display: flex;
	/*box-sizing: border-box;*/
	background-color: black;
	justify-content: center;
	align-items: center;
	overflow: scroll;
	/*background-image: url("../images/coming_soon.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;*/
	/*opacity: 0.8;	*/
}

.right-about p{
	position: inherit;
}


.contact-section{
	/*height: 150px;*/
	height: 50%;

	/*background-image: url("../images/coming_soon.png");*/
	/*background-size: 100% 100%;*/
	/*background-repeat: no-repeat;*/
}

img{
	border-radius: 40% ;
	position: inherit;
}

h1, h3{
	color: white;
}

